.container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 0px;
}
.titulo{
  color:blue;
  text-align: center;
} 
.botoes{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.botaoAprovar{
  color:black;
  background-color:green;
}
.botaoReprovar{
  color:black;
  background-color:red;
}
.sobre{
  margin-top: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lista{
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}